target
pkg
data
*.csv
!examples/notebooks/eth_price.csv
*.ipynb_checkpoints
*.sol
!QuantizeData.sol
!TestReads.sol
!AttestData.sol
!VerifierBase.sol
!LoadInstances.sol
*.pf
*.vk
*.pk
*.code
*.key
*.params
*.bytecode
*.bin
*~
\#*\#
.DS_Store
*_forward.json
.pytest_cache/
.env
__pycache__/
*.pyc
*.pyo
*.py[cod]
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vscode/
*.whl
*.bak
node_modules
/dist
timingData.json
!tests/wasm/pk.key
!tests/wasm/vk.key
docs/python/build
!tests/wasm/vk_aggr.key
