target
data
*.csv
*.ipynb_checkpoints
*.sol
!QuantizeData.sol
!TestReads.sol
!AttestData.sol
!VerifierBase.sol
*.pf
*.vk
*.pk
*.code
*.key
*.params
*.bytecode
*.bin
*~
\#*\#
.DS_Store
*_forward.json
.pytest_cache/
.env
__pycache__/
*.pyc
*.pyo
*.py[cod]
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vscode/
*.whl
*.bak