target
data
*.ipynb_checkpoints
*.sol
*.pf
*.vk
*.pk
*.code
*.key
*.params
*.bytecode
*~
\#*\#
.DS_Store
*_forward.json
.pytest_cache/
.env
__pycache__/
*.pyc
*.pyo
*.py[cod]
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vscode/
*.whl