name: ezkl-lib-release
on:
  push:
    tags:
      - '*'
jobs:
  create-release:
    name: create-release
    runs-on: ubuntu-22.04

    outputs:
      upload_url: ${{ steps.create-release.outputs.upload_url}}
      ezkl_version: ${{ env.EZKL_VERSION }}

    steps:
      - name: Get release version from tag
        shell: bash
        if: env.EZKL_VERSION == ''
        run: |
          echo "EZKL_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          echo "version is: ${{ env.EZKL_VERSION }}"

      - name: Create Github Release
        id: create-release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
        
  build-release:
    name: build-release
    needs: ['create-release']
    runs-on: ${{ matrix.os }}
    env: 
      CARGO: cargo
      TARGET_FLAGS: ""
      TARGET_DIR: ./target
      RUST_BACKTRACE: 1
      PCRE2_SYS_STATIC: 1
    strategy:
      matrix:
        build: ['windows-msvc', 'linux-musl', 'linux-aarch64', 'macos', 'macos-aarch64', 'debian', 'wasm-wasi', 'wasm-unknown']
        include:
        - build: windows (x86_64-pc-windows-msvc)
          os: windows-latest
          rust: nightly
          target: x86_64-pc-windows-msvc
        - build: linux (aarch64-unknown-linux-musl)
          os: ubuntu-20.04
          rust: nightly
          target: aarch64-unknown-linux-musl
        - build: apple (aarch64-apple-darwin)
          os: macos-13
          rust: nightly
          target: aarch64-apple-darwin
        - build: apple (x86_64-apple-darwin)
          os: macos-13
          rust: nightly
          target: x86_64-apple-darwin
        - build: debian (x86_64-unknown-linux-musl)
          os: ubuntu-20.04
          rust: nightly
          target: x86_64-unknown-linux-musl
        - build: linux (x86_64-unknown-linux-musl)
          os: ubuntu-20.04
          rust: nightly
          target: x86_64-unknown-linux-musl
        - build: linux (wasm32-wasi)
          os: ubuntu-20.04
          rust: nightly
          target: wasm32-wasi
        - build: linux (wasm32-unknown-unknown)
          os: ubuntu-20.04
          rust: nightly
          target: wasm32-unknown-unknown
        - build: linux (x86_64-unknown-linux-gnu)
          os: ubuntu-20.04
          rust: nightly
          target: x86_64-unknown-linux-gnu

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Rust
      uses: dtolnay/rust-toolchain@nightly
      with:
        target: ${{ matrix.target }}

    - name: Install Rust targets
      run: rustup target add ${{ matrix.target }}
      
    - name: Install musl-tools (Ubuntu)
      if: matrix.os == 'ubuntu-22.04' && (matrix.target == 'x86_64-unknown-linux-musl' || matrix.target == 'aarch64-unknown-linux-musl')
      run: sudo apt-get install -y musl-tools
    
    - name: Use Cross
      shell: bash
      run: | 
        cargo install cross -Z sparse-registry
        echo "CARGO=cross" >> $GITHUB_ENV
        echo "TARGET_FLAGS=--target ${{ matrix.target }}" >> $GITHUB_ENV
        echo "TARGET_DIR=./target/${{ matrix.target }}" >> $GITHUB_ENV

    - name: Show command used for Cargo
      run: |
        echo "cargo command is: ${{ env.CARGO }}"
        echo "target flag is: ${{ env.TARGET_FLAGS }}"
        echo "target dir is: ${{ env.TARGET_DIR }}"

    - name: Build release binary
      run: ${{ env.CARGO }} build --release ${{ env.TARGET_FLAGS }} -Z sparse-registry

    - name: Strip release binary
      if: matrix.build != 'win-msvc'
      run: strip "target/${{ matrix.target }}/release/ezkl"

    - name: Build archive
      if: matrix.build != 'win-msvc'
      shell: bash
      run: |
        mkdir -p build-artifacts
        tar czvf build-artifacts/ezkl-${{ matrix.build }}.tar.gz -C "target/${{ matrix.target }}/release" ezkl
        echo "ASSET=build-artifacts/ezkl-${{ matrix.build }}.tar.gz" >> $GITHUB_ENV
    
    - name: Build archive (Windows)
      if: matrix.build == 'win-msvc'
      shell: bash
      run: |
        mkdir -p build-artifacts
        powershell.exe -Command "Compress-Archive -Path 'target/${{ matrix.target }}/release/ezkl.exe' -DestinationPath 'build-artifacts/ezkl-win.zip'"
        echo "ASSET=build-artifacts/ezkl-win.zip" >> $GITHUB_ENV    
        
    - name: Upload release archive
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN}}
      with:
        upload_url: ${{ needs.create-release.outputs.upload_url}}
        asset_path: ${{ env.ASSET }}
        asset_name: ${{ env.ASSET }}
        asset_content_type: application/octet-stream
