name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
      with:
          submodules: recursive
    - uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          override: true
          components: rustfmt, clippy    
    - name: Build
      run: cargo build --verbose
    - name: Doc tests
      run: cargo test --doc --verbose
    - name: Doc tests
      run: cargo test --doc --verbose
    - name: Library tests
      run: cargo test --lib --verbose
    - name: Mock proving tests
      run: cargo test tests::mock_ --verbose
    - name: IPA full-prove tests
      run: cargo test tests::ipa_fullprove_ --verbose
    - name: KZG full-prove tests
      run: cargo test tests::kzg_fullprove_ --verbose
    - name: IPA prove and verify tests
      run: cargo test tests::ipa_prove_and_verify_ --verbose
    - name: KZG prove and verify tests
      run: cargo test tests::kzg_prove_and_verify_ --verbose
